<article class="p-6 mb-6 text-base bg-white rounded-lg dark:bg-gray-900">
	<footer class="flex justify-between items-center mb-2">
		<div class="flex items-center">
			<p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"><img class="mr-2 w-10 h-10 rounded-full" src="{{ asset('assets/uploads/users/avatars/' ~ comment.author.avatar.path ) }}" alt="{{ comment.author.username ~ ' Avatar'}}">{{ comment.author.username }}</p>
			<p class="text-sm text-gray-600 dark:text-gray-400">
				<time pubdate datetime="{{ comment.createdAt|date("Y-m-d") }}" title="{{ comment.createdAt|date("m/d/Y", "Europe/Paris") }}">{{ comment.createdAt|date("m/d/Y", "Europe/Paris") }}</time>
			</p>
		</div>
	</footer>
	<p>{{ comment.content }}</p>
</article>
