<nav class="fixed z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 py-3 px-4 hidden sm:block">
	<div class="flex justify-between items-center max-w-screen-2xl mx-auto">
		<div class="flex justify-start items-center">
			{% include "_partials/_brand.html.twig" %}
		</div>
		<div class="flex justify-between items-center lg:order-2">
			<a href="{{ path('app_home') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{ 'Figures'|trans }}</a>
			{% if app.user %}
				<a href="{{ path('app_trick_new') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{ 'Ajouter'|trans }}</a>
				<a href="{{ path('app_logout') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{ 'Log In'|trans }}</a>
			{% else %}
				<a href="{{ path('app_login') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{ 'Log In'|trans }}</a>
				<a href="{{ path('app_register') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{ 'Register'|trans }}</a>
			{% endif %}
		</div>
	</div>
</nav>

<nav class="fixed z-30 w-full bg-white border-t border-gray-200 dark:bg-gray-800 dark:border-gray-700 py-3 px-4 lg:hidden block bottom-0">
	<div class="flex justify-between items-center max-w-screen-2xl mx-auto">
		<a href="{{ path('app_home') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{ 'Figures'|trans }}</a>
		{% if app.user %}
			<a href="{{ path('app_trick_new') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{ 'Ajouter'|trans }}</a>
			<a href="{{ path('app_logout') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{ 'Log In'|trans }}</a>
		{% else %}
			<a href="{{ path('app_login') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{ 'Log In'|trans }}</a>
			<a href="{{ path('app_register') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{ 'Register'|trans }}</a>
		{% endif %}
	</div>
</nav>
