{% if trick.videos|length >= 1 or trick.images|length >= 1 %}
	<aside aria-label="{{ 'Gallery'|trans|lower }}" class="bg-white-50 dark:bg-gray-800">
		<div class="md:px-4 mx-auto max-w-screen-xl md:border-2 rounded-md">
			<h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white text-center underline md:block hidden sm:hidden pt-4">{{ 'Gallery'|trans }}</h2>
			{% if trick.images|length >= 1 %}
				<h3 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">{{ 'Images'|trans }}</h3>
				<div class="grid gap-12 sm:grid-cols-1 lg:grid-cols-4 md:pb-3">
					{% for image in trick.images %}
						<article class="max-w-full">
							<img src="{{ asset('assets/uploads/tricks/images/mini/' ~ image.path ) }}" class="w-full h-48 object-cover rounded-lg" alt="{{ 'Trick Image'|trans }}">
						</article>
					{% endfor %}
				</div>
			{% endif %}
			{% if trick.videos|length >= 1 and trick.images|length >= 1 %}
				<hr>
			{% endif %}
			{% if trick.videos|length >= 1 %}
				<h3 class="mb-8 text-xl font-bold text-gray-900 dark:text-white mt-4 pt-4">{{ 'Videos'|trans }}</h3>
				<div class="flex flex-wrap">
					{% for video in trick.videos %}
						<article class="max-w-xs">
							<div class="image-wrapper px-6">
								<div class="rounded-lg px-6">
									<iframe src="{{ video.path|video_url }}" class="px-6" title="video player" height="250" width="350" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
								</div>
							</div>
						</article>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</aside>
{% else %}
	<aside aria-label="{{ 'Gallery'|trans|lower }}" class="bg-white-50 dark:bg-gray-800">
		<div class="md:px-4 mx-auto max-w-screen-xl md:border-2 rounded-md">
			<h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white text-center underline md:block hidden sm:hidden">{{ 'Gallery'|trans }}</h2>
			<div class="flex flex-col items-center justify-center">
				<p class="text-xl font-bold text-gray-900 dark:text-white">{{ 'This section is incomplete. Please, help us by adding new Photos or Videos to this trick.'|trans }}</p>
			</div>
		</div>
	</aside>
{% endif %}
