<h1>{{ 'Hi'|trans }}!</h1>

<p>{{ 'To reset your password, please visit the following link'|trans }}
	<br>
	<a href="{{ url|raw }}">{{ 'Reset my password'|trans }}</a>
</p>

<p>
	<strong>{{ 'Please note'|trans }}:</strong>

	{{ 'This link will expire in'|trans }}
	{{ expiresAt|date('F j, Y, g:i a') }}.
</p>


<p>{{ 'Cheers'|trans }}!</p>
