{% extends 'base.html.twig' %}

{% block title %}
	{{ trick.title }}
{% endblock %}
{% block body %}
	<main class="md:pt-8 pb-16 lg:pt-16 lg:pb-24 bg-gray-75 dark:bg-gray-900">
		<div class="flex justify-between md:px-4 mx-auto max-w-screen-xl">
			<article class="px-4 rounded-lg shadow-lg shadow-indigo-500/40 bg-white mx-auto w-full max-w-6xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert" data-trick="{{ trick.id }}">
				<header class="mb-4 lg:mb-6 not-format">
					<address class="flex items-center justify-between mb-6 not-italic pl-2 pt-4">
						<div class="inline-flex items-center text-sm text-gray-900 dark:text-white">
							<img class="mr-4 w-16 h-16 rounded-full" src="{{ asset('assets/uploads/users/avatars/' ~ trick.author.avatar.path ) }}" alt="{{ 'Avatar of' ~ trick.author.username }}">
							<div>
								<div class="text-xl font-bold text-gray-900 dark:text-white">{{ trick.author.username }}</div>
							</div>
						</div>
						<div class="inline-flex items-center text-sm text-gray-900 dark:text-white">
							<div class="px-2 py-1 bg-green-500 text-white rounded-full">{{ trick.group }}</div>
						</div>
					</address>
					<h1 class="mb-4 text-3xl text-center font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">🏂
						{{ trick.title }}
						🏂</h1>
				</header>
				<figure class="relative flex flex-col items-center pb-4">
					<img class="rounded-lg w-full" src="{{ asset('assets/uploads/tricks/images/' ~ trick.featuredImage.path ) }}" alt="{{ 'Illustration image of the trick'|trans ~ ' ' ~ trick.title }}">
					{% if app.user %}
						<div class="flex absolute top-5 right-5 inline-flex justify-center items-center gap-2 rounded-full border text-center w-55">
							<a href="{{ path('app_trick_edit', { 'id': trick.id }) }}">
								<i data-feather="edit-2" class="text-green-600 feather-32 p-1"></i>
							</a>
							<form class="space-y-4 md:space-y-6" method="post">
								<a href="{{ path('app_trick_delete', { 'id': trick.id }) }}">
									<i data-feather="trash-2" class="text-red-600 feather-32 p-1"></i>
								</a>
							</form>
						</div>
					{% endif %}
					<figcaption>
						<small class="text-xs">{{ 'Illustration image'|trans }}</small>
					</figcaption>
				</figure>
				<div id="gallery" data-accordion="open" class="sm:hidden">
					<h2 id="gallery-heading">
						<button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#gallery-body" aria-expanded="false" aria-controls="gallery-body">
							<span class="flex items-center">
								<svg class="w-5 h-5 mr-2 shrink-0" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.375 19.5h17.25m-17.25 0a1.125 1.125 0 01-1.125-1.125M3.375 19.5h1.5C5.496 19.5 6 18.996 6 18.375m-3.75 0V5.625m0 12.75v-1.5c0-.621.504-1.125 1.125-1.125m18.375 2.625V5.625m0 12.75c0 .621-.504 1.125-1.125 1.125m1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125m0 3.75h-1.5A1.125 1.125 0 0118 18.375M20.625 4.5H3.375m17.25 0c.621 0 1.125.504 1.125 1.125M20.625 4.5h-1.5C18.504 4.5 18 5.004 18 5.625m3.75 0v1.5c0 .621-.504 1.125-1.125 1.125M3.375 4.5c-.621 0-1.125.504-1.125 1.125M3.375 4.5h1.5C5.496 4.5 6 5.004 6 5.625m-3.75 0v1.5c0 .621.504 1.125 1.125 1.125m0 0h1.5m-1.5 0c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125m1.5-3.75C5.496 8.25 6 7.746 6 7.125v-1.5M4.875 8.25C5.496 8.25 6 8.754 6 9.375v1.5m0-5.25v5.25m0-5.25C6 5.004 6.504 4.5 7.125 4.5h9.75c.621 0 1.125.504 1.125 1.125m1.125 2.625h1.5m-1.5 0A1.125 1.125 0 0118 7.125v-1.5m1.125 2.625c-.621 0-1.125.504-1.125 1.125v1.5m2.625-2.625c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125M18 5.625v5.25M7.125 12h9.75m-9.75 0A1.125 1.125 0 016 10.875M7.125 12C6.504 12 6 12.504 6 13.125m0-2.25C6 11.496 5.496 12 4.875 12M18 10.875c0 .621-.504 1.125-1.125 1.125M18 10.875c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125m-12 5.25v-5.25m0 5.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125m-12 0v-1.5c0-.621-.504-1.125-1.125-1.125M18 18.375v-5.25m0 5.25v-1.5c0-.621.504-1.125 1.125-1.125M18 13.125v1.5c0 .621.504 1.125 1.125 1.125M18 13.125c0-.621.504-1.125 1.125-1.125M6 13.125v1.5c0 .621-.504 1.125-1.125 1.125M6 13.125C6 12.504 5.496 12 4.875 12m-1.5 0h1.5m-1.5 0c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125M19.125 12h1.5m0 0c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h1.5m14.25 0h1.5" stroke-linecap="round" stroke-linejoin="round"></path>
								</svg>
								<svg class="w-5 h-5 mr-2 shrink-0" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" stroke-linecap="round" stroke-linejoin="round"></path>
								</svg>
								{{ 'See Medias'|trans }}</span>
							<svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
							</svg>
						</button>
					</h2>
					<div id="gallery-body" class="hidden" aria-labelledby="gallery-heading">
						<div class="p-5 border border rounded-b-lg border-gray-200 dark:border-gray-700 dark:bg-gray-900">
							{% include '_partials/_trick_gallery.html.twig' %}
						</div>
					</div>
				</div>
				<div class="hidden sm:block">
					{% include '_partials/_trick_gallery.html.twig' %}
				</div>
				<ul class="mt-5 space-y-3 py-4">
					<li class="w-full">
						{{ trick.description|raw }}
					</li>
				</ul>
				<a class="mt-3 inline-flex underline items-center gap-2 mt-5 text-sm font-medium text-blue-500 hover:text-blue-700" href="{{ path('app_home') }}">
					<svg class="h-4 w-4" aria-hidden=" true" fill=" none" stroke=" currentColor" stroke-width=" 1.5" viewbox=" 0 0 24 24" xmlns=" http://www.w3.org/2000/svg">
						<path d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					{{ 'Back to list'|trans }}
				</a>
				<section class="not-format">
					<div class="flex justify-between items-center mb-6">
						<h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">
							{{ 'Comment'|trans }}{{ (trick.comments|length > 1) ? 's' : '' }}
							({{ trick.comments|length }})
						</h2>
					</div>
					{% if app.user %}
						<form action="{{ path('app_trick_show', {'slug': trick.slug}) }}" method="post" class="mb-6 border-2 rounded-md">
							{{ form_start(form) }}
							{{ form_row(form.content) }}
							{{ form_widget(form._token) }}
							<button type="submit" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">{{ 'Post Comment'|trans }}</button>
							{{ form_end(form) }}
						</form>
					{% else %}
						<div class="mb-6 border-2 rounded-md bg-red-50 dark:text-red-400">
							<div class="p-4 mb-4 text-sm text-red-800 bg-red-50 dark:text-red-400 rounded-lg" role="alert">
								<div class="flex items-center">
									<svg class="h-4 w-4 text-red-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
									</svg>
									<span class="font-medium ml-2 py-2">
										{{ 'Comment form disabled'|trans }}!</span>
								</div>
								{{ 'Only logged users can post comments. Please login to enable the form.'|trans }}
							</div>
							<div class="flex justify-center items-center mb-6">
								<a href="{{ path('app_login') }}" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">{{ 'Log In'|trans }}</a>
							</div>
						</div>
					{% endif %}
					<div id="comments-container">
						{% for comment in comments %}
							{% include "_partials/_comment_card.html.twig" %}
						{% endfor %}
					</div>
					<div class="flex justify-center items-center mb-6">
						<button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center" id="load-more-comments">
							<svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
							</svg>
							{{ 'Load More Comments'|trans }}
						</button>
					</div>
				</section>
			</article>
		</div>
	</main>
{% endblock %}
