{% extends 'base.html.twig' %}

{% block title %}
	{{ trick.title }}
{% endblock %}
{% block body %}
	<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
		<div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
			<article class="mx-auto w-full max-w-3xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
				<header class="mb-4 lg:mb-6 not-format">
					<address class="flex items-center mb-6 not-italic">
						<div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
							<img class="mr-4 w-16 h-16 rounded-full" src="{{ trick.author.avatar.path }}" alt="{{ 'Avatar of' ~ trick.author.username }}">
							<div>
								<a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">{{ trick.author.username }}</a>
							</div>
						</div>
					</address>
					<h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">{{ trick.title }}</h1>
				</header>
				<figure class="flex flex-col items-center">
					<img src="{{ asset('assets/uploads/tricks/images/' ~ trick.featuredImage.path ) }}" alt="{{ 'Illustration image of the trick'|trans ~ trick.title }}">
					<figcaption>
						<small class="text-xs">{{ 'Illustration image'|trans }}</small>
					</figcaption>
				</figure>
				{{ trick.description|raw }}
				<aside aria-label="{{ 'Gallery'|trans }}" class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800">
					<div class="px-4 mx-auto max-w-screen-xl">
						<h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white text-center">{{ 'Gallery'|trans }}</h2>
						<h3 class="mb-8 text-xl font-bold text-gray-900 dark:text-white">{{ 'Images'|trans }}</h3>
						<div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4 pb-3">
							{% for image in trick.images %}
								<article class="max-w-xs">
									<a href="#">
										<img src="{{ asset('assets/uploads/tricks/images/' ~ image.path ) }}" class="mb-5 rounded-lg" alt="Image 1">
									</a>
								</article>
							{% endfor %}
						</div>
						<hr>
						<h3 class="mb-8 text-xl font-bold text-gray-900 dark:text-white mt-4 pt-4">{{ 'Videos'|trans }}</h3>
						<div class="grid gap-12 sm:grid-cols-1 lg:grid-cols-2">
							{% for video in trick.videos %}
								<article class="max-w-xs">
									<iframe class="mb-5 rounded-lg" src="{{ video.path|video_url }}" width="350" height="200" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
									<a class="flex flex-col items-center justify-center" href="{{ path('delete_video', {id: video.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ video.id) }}">{{ 'Supprimer'|trans }}</a>
								</article>
							{% endfor %}
						</div>
					</div>
				</aside>
				<a href="{{ path('app_home') }}">{{ 'back to list'|trans }}</a>
				<a href="{{ path('app_trick_edit', {'id': trick.id}) }}">{{ 'edit'|trans }}</a>
				{{ include('trick/_delete_form.html.twig') }}
				<section class="not-format">
					<div class="flex justify-between items-center mb-6">
						<h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">
							{{ 'Comment'|trans }}{{ (trick.comments|length > 1) ? 's' : '' }}
							({{ trick.comments|length }})
						</h2>
					</div>
					<form action="{{ path('app_trick_show', {'slug': trick.slug}) }}" method="post" class="mb-6">
						{{ form_start(form) }}
						{{ form_row(form.content) }}
						{{ form_end(form) }}
						<button type="submit" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">{{ 'Post Comment'|trans }}</button>
					</form>
					{% for comment in comments %}
						<article class="p-6 mb-6 text-base bg-white rounded-lg dark:bg-gray-900">
							<footer class="flex justify-between items-center mb-2">
								<div class="flex items-center">
									<p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"><img class="mr-2 w-6 h-6 rounded-full" src="{{ comment.author.avatar.path }}" alt="Michael Gough">{{ comment.author.username }}</p>
									<p class="text-sm text-gray-600 dark:text-gray-400">
										<time pubdate datetime="2022-02-08" title="February 8th, 2022">{{ comment.createdAt|date("m/d/Y", "Europe/Paris") }}</time>
									</p>
								</div>
							</footer>
							<p>{{ comment.content }}</p>
						</article>
					{% endfor %}
					{% set total_comments = trick.comments|length %}
					{% set current_page = app.request.get('page') %}
					{% include '_partials/_pagination.html.twig' with {'route_name': 'app_trick_show', 'slug': trick.slug, 'total_items': total_comments, 'current_page': current_page, 'limit': limit} %}
				</section>
			</article>
		</div>
	</main>
{% endblock %}
